In [1]:
#Day 2
#EXERCISE 1 : Introduction to Pandas
#DATE : 09-01-2024
#Name :
#RegNo :

In [1]:
import pandas as pd

In [3]:
#Q1. Create a data frame with details of 10 students and columns as Roll Number, Name, Gender, Marks1, Marks2, Marks3.

In [2]:
data = {'Roll No':['1','2','3','4','5','6','7','8','9','10'],
        'Name':['Sithal','Ranjan','Shaaru','Varun','Rohan','Anika','Jaanki','Preetam','Kartabya','Tanuja'],
        'Gender':['Female','Male','Female','Male','Male','Female','Female','Male','Male','Female'],
        'Marks1':[61,88,89,68,55,44,29,85,100,11],
        'Marks2':[29,33,44,45,61,67,87,99,100,100],
        'Marks3':[90,47,78,23,97,72,56,73,95,56]
       }

In [3]:
df = pd.DataFrame(data)

In [6]:
df

  Roll No      Name  Gender  Marks1  Marks2  Marks3
0       1    Sithal  Female      61      29      90
1       2    Ranjan    Male      88      33      47
2       3    Shaaru  Female      89      44      78
3       4     Varun    Male      68      45      23
4       5     Rohan    Male      55      61      97
5       6     Anika  Female      44      67      72
6       7    Jaanki  Female      29      87      56
7       8   Preetam    Male      85      99      73
8       9  Kartabya    Male     100     100      95
9      10    Tanuja  Female      11     100      56

In [ ]:
df

In [ ]:
df

             Name  Gender  Marks1  Marks2  Marks3
Roll No
1          Sithal  Female      61      29      90
2          Ranjan    Male      88      33      47
3          Shaaru  Female      89      44      78
4           Varun    Male      68      45      23
5           Rohan    Male      55      61      97
6           Anika  Female      44      67      72
7          Jaanki  Female      29      87      56
8         Preetam    Male      85      99      73
9        Kartabya    Male     100     100      95
10         Tanuja  Female      11     100      56

In [ ]:
#Q2. Create a new column with total marks

In [4]:
df['TotalMarks'] = df['Marks1'] + df['Marks2'] + df['Marks3']

In [10]:
df

  Roll No      Name  Gender  Marks1  Marks2  Marks3  TotalMarks
0       1    Sithal  Female      61      29      90         180
1       2    Ranjan    Male      88      33      47         168
2       3    Shaaru  Female      89      44      78         211
3       4     Varun    Male      68      45      23         136
4       5     Rohan    Male      55      61      97         213
5       6     Anika  Female      44      67      72         183
6       7    Jaanki  Female      29      87      56         172
7       8   Preetam    Male      85      99      73         257
8       9  Kartabya    Male     100     100      95         295
9      10    Tanuja  Female      11     100      56         167

In [ ]:
#Q3. Find the lowest marks in Marks1

In [13]:
print('Lowest Marks in Marks1 is ' + str(df['Marks1'].min()))

Lowest Marks in Marks1 is 11

In [ ]:
#Q4. Find the Highest marks in Marks2

In [14]:
print('Highest Marks in Marks2 is ' + str(df['Marks2'].max()))

Highest Marks in Marks2 is 100

In [ ]:
#Q5. Find the average marks in Marks3

In [15]:
print('Average Marks in Marks3 is ' + str(df['Marks3'].mean()))

Average Marks in Marks3 is 68.7

In [ ]:
#Q6. Find student name with highest average

In [5]:
print('Student with highest average is')
Marks_Averages = df.mean(axis=1, numeric_only=True)
har = df[Marks_Averages == Marks_Averages.max()]
print(har)

Student with highest average is
  Roll No      Name Gender  Marks1  Marks2  Marks3  TotalMarks
8       9  Kartabya   Male     100     100      95         295

In [ ]:
#Q7. Find how many students failed in Marks2 (<40)

In [9]:
failed_s = df[df['Marks2'] <= 40]
print('The number of failed students in Marks2 are ' + str(len(failed_s)))

The number of failed students in Marks2 are 2